# Data Cleaning

## Importing the data from the pre-processed csv dataframe

## Inclusion of libraries

In [1]:
#Libraries utilized
import numpy as np
import pandas as pd

from ydata_profiling import ProfileReport
from pandasgui import show

In [2]:
#Loading from the previously processed dataframe
df  = pd.read_csv('datasets/data_processed_ranges.csv',  sep=",",low_memory=False)

# Display the DataFrame information including data types
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43472 entries, 0 to 43471
Data columns (total 109 columns):
 #    Column                  Dtype
---   ------                  -----
 0    Time                    int64
 1    LocID                   int64
 2    SortOrder               int64
 3    Notes                   object
 4    ISO3_code               object
 5    ISO2_code               object
 6    SDMX_code               float64
 7    LocTypeID               int64
 8    LocTypeName             object
 9    ParentID                int64
 10   Location                object
 11   VarID                   int64
 12   Variant                 object
 13   TPopulation1Jan         float64
 14   TPopulation1July        float64
 15   TPopulationMale1July    float64
 16   TPopulationFemale1July  float64
 17   PopDensity              float64
 18   PopSexRatio             float64
 19   MedianAgePop            float64
 20   NatChange               float64
 21   NatChangeRT             float64
 22   PopChange               float64
 23   PopGrowthRate           float64
 24   DoublingTime            float64
 25   Births                  float64
 26   Births1519              float64
 27   CBR                     float64
 28   TFR                     float64
 29   NRR                     float64
 30   MAC                     float64
 31   SRB                     float64
 32   Deaths                  float64
 33   DeathsMale              float64
 34   DeathsFemale            float64
 35   CDR                     float64
 36   LEx                     float64
 37   LExMale                 float64
 38   LExFemale               float64
 39   LE15                    float64
 40   LE15Male                float64
 41   LE15Female              float64
 42   LE65                    float64
 43   LE65Male                float64
 44   LE65Female              float64
 45   LE80                    float64
 46   LE80Male                float64
 47   LE80Female              float64
 48   InfantDeaths            float64
 49   IMR                     float64
 50   LBsurvivingAge1         float64
 51   Under5Deaths            float64
 52   Q5                      float64
 53   Q0040                   float64
 54   Q0040Male               float64
 55   Q0040Female             float64
 56   Q0060                   float64
 57   Q0060Male               float64
 58   Q0060Female             float64
 59   Q1550                   float64
 60   Q1550Male               float64
 61   Q1550Female             float64
 62   Q1560                   float64
 63   Q1560Male               float64
 64   Q1560Female             float64
 65   NetMigrations           float64
 66   CNMR                    float64
 67   00_04_male              float64
 68   00_04_female            float64
 69   05_09_male              float64
 70   05_09_female            float64
 71   10_14_male              float64
 72   10_14_female            float64
 73   15_19_male              float64
 74   15_19_female            float64
 75   20_24_male              float64
 76   20_24_female            float64
 77   25_29_male              float64
 78   25_29_female            float64
 79   30_34_male              float64
 80   30_34_female            float64
 81   35_39_male              float64
 82   35_39_female            float64
 83   40_44_male              float64
 84   40_44_female            float64
 85   45_49_male              float64
 86   45_49_female            float64
 87   50_54_male              float64
 88   50_54_female            float64
 89   55_59_male              float64
 90   55_59_female            float64
 91   60_64_male              float64
 92   60_64_female            float64
 93   65_69_male              float64
 94   65_69_female            float64
 95   70_74_male              float64
 96   70_74_female            float64
 97   75_79_male              float64
 98   75_79_female            float64
 99   80_84_male              float64
 100  80_84_female            float64
 101  85_89_male              float64
 102  85_89_female            float64
 103  90_94_male              float64
 104  90_94_female            float64
 105  95_99_male              float64
 106  95_99_female            float64
 107  100_male                float64
 108  100_female              float64
dtypes: float64(97), int64(6), object(6)
memory usage: 36.2+ MB

In [3]:
#checking the quality of the data 
print(" \nCount total NaN at each column in a DataFrame : \n\n",
      df.isnull().sum())

Count total NaN at each column in a DataFrame :

 Time                0
LocID               0
SortOrder           0
Notes           31920
ISO3_code        7448
                ...
90_94_female      437
95_99_male        437
95_99_female      437
100_male          437
100_female        437
Length: 109, dtype: int64

In [4]:
#Cleaning the dataset most important considerations

#The study needs only countries, we ommit regions by deleting them
withNulls =df[ (df['ISO3_code'].isnull() )  ].index
df.drop(withNulls  , inplace=True)

#The country only needs proyections and data up to 2023
estimationsGreaterCurrent = df[ (df['Time'] > 2023 )  ].index
df.drop(estimationsGreaterCurrent  , inplace=True)

## Sampling 1000 records for running pandas profiling

In [5]:
# Randomly slecting 1000 records
# Set the random seed for reproducibility
random_seed = 42

# Sample 1000 random records from the DataFrame
df_sample = df.sample(n=1000, random_state=random_seed)

# Display the sampled DataFrame
df_sample.head()

,Time,LocID,SortOrder,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,...,80_84_male,80_84_female,85_89_male,85_89_female,90_94_male,90_94_female,95_99_male,95_99_female,100_male,100_female
8883,2017,504,63,NaN,MAR,MA,504.0,4,Country/Area,912,...,88.285,113.712,34.456,47.526,6.873,11.343,0.618,1.288,0.027,0.070
10212,1978,710,72,NaN,ZAF,ZA,710.0,4,Country/Area,913,...,34.168,50.058,13.010,19.952,4.140,5.730,0.822,0.904,0.094,0.071
31531,2017,136,212,19,CYM,KY,136.0,4,Country/Area,915,...,0.171,0.221,0.065,0.121,0.020,0.047,0.004,0.009,0.000,0.002
29100,2018,250,196,26,FRA,FR,250.0,4,Country/Area,926,...,742.447,1096.881,463.691,865.430,180.890,465.921,39.025,146.977,2.300,14.748
30605,2003,28,206,NaN,ATG,AG,28.0,4,Country/Area,915,...,0.294,0.461,0.158,0.310,0.051,0.127,0.007,0.031,0.000,0.004

In [6]:
#Profiling based on the categories of the dataframe upon categories
#Population
populationFields = ['LocID', 'Time', 'LocTypeName','TPopulation1Jan','TPopulation1July','TPopulationMale1July','TPopulationFemale1July',
                    'PopDensity','PopSexRatio','MedianAgePop','NatChange','NatChangeRT','PopChange','PopGrowthRate',
                    'DoublingTime']
#Fertility
fertilityFields = ['LocID', 'Time', 'LocTypeName','Births','Births1519','CBR','TFR','NRR','MAC','SRB']

#Mortality
mortalityFields = ['LocID', 'Time', 'LocTypeName','Deaths','DeathsMale','DeathsFemale','CDR','LEx','LExMale','LExFemale','LE15','LE15Male','LE15Female',
                    'LE65','LE65Male','LE65Female','LE80','LE80Male','LE80Female','InfantDeaths','IMR','LBsurvivingAge1',
                    'Under5Deaths','Q5','Q0040','Q0040Male','Q0040Female','Q0060','Q0060Male','Q0060Female','Q1550',
                   'Q1550Male','Q1550Female','Q1560','Q1560Male','Q1560Female']

#Migration
migrationFields = ['LocID', 'Time', 'LocTypeName','NetMigrations','CNMR']

#Ages by Datarange
dataRangeFields = ['LocID', 'Time', 'LocTypeName', '00_04_male','00_04_female','05_09_male','05_09_female','10_14_male','10_14_female','15_19_male',
                    '15_19_female','20_24_male','20_24_female','25_29_male','25_29_female','30_34_male','30_34_female',
                    '35_39_male','35_39_female','40_44_male','40_44_female','45_49_male','45_49_female','50_54_male',
                    '50_54_female','55_59_male','55_59_female','60_64_male','60_64_female','65_69_male','65_69_female',
                    '70_74_male','70_74_female','75_79_male','75_79_female','80_84_male','80_84_female','85_89_male',
                    '85_89_female','90_94_male','90_94_female','95_99_male','95_99_female','100_male','100_female']

### Creation of Subsets based on categories

In [7]:
# Reset the index of the dataframe

#Subset population
df_subset_population = pd.DataFrame(df_sample.loc[:,populationFields]).copy()

# Subset Fertility
df_subset_fertility = pd.DataFrame(df_sample.loc[:,fertilityFields]).copy()

# Subset Mortality 
df_subset_mortality = pd.DataFrame(df_sample.loc[:,mortalityFields]).copy()

# Subset Migration 
df_subset_migration = pd.DataFrame(df_sample.loc[:,migrationFields]).copy()

# subset range of ages category
df_subset_age_ranges = pd.DataFrame(df_sample.loc[:,dataRangeFields]).copy()

### Pandas profiliing for each one of the subsets

In [8]:
#population
df_subset_population_profile = ProfileReport(df_subset_population, title="Profiling Report")

df_subset_population_profile.to_file("subset_population_profile.html")    

#fertility
df_subset_fertility_profile = ProfileReport(df_subset_fertility, title="Profiling Report")

df_subset_fertility_profile.to_file("subset_fertility_profile.html")   

#mortality
df_subset_mortality_profile = ProfileReport(df_subset_mortality, title="Profiling Report")

df_subset_mortality_profile.to_file("subset_mortaility_profile.html")  

# Migration
df_subset_migration_profile = ProfileReport(df_subset_migration, title="Profiling Report")

df_subset_migration_profile.to_file("subset_migration_profile.html")  

# Age Ranges
df_subset_age_range_profile = ProfileReport(df_subset_age_ranges, title="Profiling Report")

df_subset_age_range_profile.to_file("subset_age_range_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
#columns with blank spaces
df['DoublingTime'] = df['DoublingTime'].fillna(0)

In [10]:
print(" \nCount total NaN at each column in a DataFrame : \n\n",
      df.isnull().sum())

Count total NaN at each column in a DataFrame :

 Time                0
LocID               0
SortOrder           0
Notes           12876
ISO3_code           0
                ...
90_94_female       74
95_99_male         74
95_99_female       74
100_male           74
100_female         74
Length: 109, dtype: int64

In [21]:
#The only one country with no recors on these rages of ages is the vatican city 
df[ (df['LocID'] == 336 ) ].head()

,Time,LocID,SortOrder,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,...,80_84_male,80_84_female,85_89_male,85_89_female,90_94_male,90_94_female,95_99_male,95_99_female,100_male,100_female
26904,1950,336,182,22,VAT,VA,336.0,4,Country/Area,925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26905,1951,336,182,22,VAT,VA,336.0,4,Country/Area,925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26906,1952,336,182,22,VAT,VA,336.0,4,Country/Area,925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26907,1953,336,182,22,VAT,VA,336.0,4,Country/Area,925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26908,1954,336,182,22,VAT,VA,336.0,4,Country/Area,925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#The country Vatican City does not change much the population analysis
vaticanCityPopulation = df[ (df['LocID'] == 336 ) ].index
df.drop(vaticanCityPopulation  , inplace=True)

In [23]:
print(" \nCount total NaN at each column in a DataFrame : \n\n",
      df.isnull().sum())

Count total NaN at each column in a DataFrame :

 Time                0
LocID               0
SortOrder           0
Notes           12876
ISO3_code           0
                ...
90_94_female        0
95_99_male          0
95_99_female        0
100_male            0
100_female          0
Length: 109, dtype: int64

## Creation of the cleaned dataframe for the next step

In [26]:
## after data cleaning we generate the file to continue with further analysis
#df.to_csv('datasets/data_cleaned_for_eda.csv')